.mainProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 20px;
}

.listViewProducts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}
